# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env
ml-service/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
venv/
ml-service/venv/
ml-training/.kaggle/kaggle.json

# Build output
client/dist/
